body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#question-search-card-container {
  overflow: auto;
  white-space: nowrap;
  padding: 20px;
  width: auto;
}

#question-search-card-container > div {
  display: inline-block;
}

#question-search-card-container::-webkit-scrollbar {
  display: none;
}

.ui.card {
  margin: 0px 20px 20px 20px !important;
}

.nav-bar {
  margin: 0px !important;
}

.question-preview, .profile-question {
  margin: 0px 0px 40px 0px;
  box-shadow: 0 10px 20px 0 rgba(26, 27, 29, 0.15);
}

.profile-header {
  margin-top: 20px;
  padding-bottom: 20px;
}

.home-header {
  margin-top: 30px;
}

.profile-search-bars {
  margin-bottom: -15px;
}

#question-form-container {
  padding: 40px;
}

.ui.basic.center.aligned.segment {
  margin-top: 30px;
}

.profile-icon {
  margin-top: 10px !important;
  color: rgb(114, 114, 114) !important;
}

.question-preview-segment {
  /* background-color: rgb(236, 236, 236) !important; */
}

.question-preview-answers {
  background-color: rgb(245, 245, 245) !important;
}

.user-card-icon {
  margin: 0px 2px 0px 15px !important;
}

body {
  background-color: rgb(214, 255, 248) !important;
}

.questions-container {
  background-color: rgb(157, 211, 200) !important;
}

.questions-container::-webkit-scrollbar {
  display: none;
}